<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 必须对应 Mapper 接口全路径 -->
<mapper namespace="com.springboot2.mapper.UserMapper">

    <!-- 根据用户名查询 -->
    <select id="selectByUsername" parameterType="String" resultType="User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(
        username, password, nickname, create_time
        ) VALUES (
        #{username}, #{password}, #{nickname}, #{createTime}
        )
    </insert>
</mapper>
